# Общие правила для Java/Gradle/Android
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
!gradle/wrapper/gradle-wrapper.jar

# Файлы IDE и системные
*.iml
.idea/
.DS_Store
.local.properties
secrets.properties

# Gradle-специфичные файлы
.gradle/
build/
.externalNativeBuild/
.cxx/
serverInteractor/build/

# Android-специфичные исключения
/captures/